<ion-content padding class="text-center list-item">
    <ion-list lines="none">
        <ion-item no-lines class="ion-item-eq-1 ion-item-q">
            <ion-router-link href="/patient/carnet-vaccination">
                <h2>Mon carnet de vaccination</h2>
            </ion-router-link>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-2">
            <h2>Consultation</h2>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-3">
            <ion-router-link href="/patient/patient-rendez-vous">
                <h2>Rendez-vous</h2>
            </ion-router-link>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-4">
            <ion-router-link href="/patient/groupe-famille">
                <h2>Groupe famille</h2>
            </ion-router-link>
        </ion-item>
    </ion-list>
</ion-content>