<ion-content padding class="text-center list-item">
    <ion-list lines="none">
        <ion-item no-lines class="ion-item-eq-1 ion-item-q">
            <IonButton expand="full" (click)="goToCarnetVaccin()"><h2>Mon carnet de vaccination</h2></IonButton>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-2">
            <IonButton expand="full" (click)="goToConsultation()"><h2>Consultation</h2></IonButton>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-3">
            <IonButton expand="full" (click)="goToRdv()"><h2>Rendez-vous</h2></IonButton>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-4">
            <IonButton expand="full" (click)="goToGroupFamille()"><h2>Groupe famille</h2></IonButton>
        </ion-item>
    </ion-list>
</ion-content>