<!-- Header -->

<header></header>

<!-- Content -->

<ion-content padding class="text-center list-item">
    <div class="card-profile">
        <ion-avatar class="text-center">
            <img src="../../../assets/images/img38.jpg" />
        </ion-avatar>
        <ion-label>
            <h2>{{ firstName }}</h2>
            <div class="p">Madagascar, Antananarivo</div>
            <h3>Docteur</h3>
        </ion-label>
    </div>
    <button ion-button expand="block">Edit profile</button>
</ion-content>