
.container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
  
    .border-input {
      border: 0.3px solid var(--ion-color-sgreen);
      border-radius: 10px;
      text-align: start;
    }
  }