<ion-split-pane contentId="contents" when="xs" [disabled]="true">
  <ion-menu side="start" type="overlay" menuId="first" contentId="contents">
    <ion-content>
      <div class="menu-praticien"></div>
      <div class="header-content">
        <ion-menu-toggle auto-hide="false">
          <div class="profile_redirect">
            <ion-label>
              <img
                src="../../../assets/images/praticien.jpg"
                (click)="redirect('/patient/profile')"
              />
            </ion-label>

            <ion-label>
              <h2 class="name">{{name}}</h2>
            </ion-label>
          </div>
        </ion-menu-toggle>
      </div>

      <ion-list lines="none" class="menu-items" *ngFor="let p of pages">
        <div>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              text-wrap
              routerLink="{{p.url}}"
              routerDirection="root"
              [class.active-item]="selectedPath === p.url"
            >
              <ion-icon
                *ngIf="selectedPath === p.url"
                slot="start"
                name="caret-forward-outline"
                color="sgreen"
              >
              </ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-button
        class="logout"
        color="sred"
        (click)="logout()"
        [routerLink]="['/login']"
      >
        <ion-icon slot="start" name="exit-outline"> </ion-icon>

        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="contents" main></ion-router-outlet>
</ion-split-pane>
