ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}

/*
       * Material Design uses the ripple for activated
       * so only style the iOS activated background
       */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
  ionic: var(--ion-color-primary),
  done: #8e8d93,
  pending: #6600cc,
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track="#{$track}"] ion-label {
    &.information {
      border-left: 2px solid $value;
      padding-left: 3px;
    }
  }
}

.status {
  text-align: right;
  width: 90px;
}

.middle {
  display: flex;
  align-items: center;
}

.btn-cnfrm {
  display: flex;
  justify-content: center;
}

.dateRapelle {
  color: var(--ion-color-sred);
}
