ion-card {
  flex-basis: 100%;
  box-shadow: none !important;
}

.profile_famille {
  width: 50%;
  height: 50%;
}

.fonction {
  color: var(--ion-color-primary);
}
.name {
  font-weight: bold;
}

.topContent {
  background-color: white;
}

.border-input {
  border: 0.3px solid var(--ion-color-sgreen);
  border-radius: 3px;
  text-align: start;
}

.trash{
  vertical-align: middle;
}

.bg{
  background-color: blue;


}
