<ion-content>
    <div class="content-homepage">
        <div class="after-content"></div>
        <div class="to-center-vertical p-15">
            <div class="presentation-home">
                <img src="../../../assets/images/logo_suivi.png" alt="" srcset="">
                <h1>Suivi de patient</h1>
                <test></test>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos atque maxime quidem rerum, iste magnam eius repudiandae similique sint dolore deserunt veniam veritatis natus sequi error debitis dolor autem! Doloremque.
                    </p>
                    <ion-button class="btn-connecter">
                        <a href="login">Se connecter</a>
                    </ion-button>
                    <ion-button class="btn-register">
                        <a href="register">S'inscrire</a>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>