<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none" color="tertiary">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-center">
                <h2>Patient</h2>
                <p>7</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col offset-4>
            <ion-item lines="none" color="primary" full>
              <ion-icon name="medkit-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-center">
                <h2>Consultation</h2>
                <p>17</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="bandage" slot="start"></ion-icon>
        <ion-label>
          <h2>Vaccin réalisé</h2>
        </ion-label>
        <ion-badge color="sgreen">17</ion-badge>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="bandage" slot="start"></ion-icon>
        <ion-label>
          <h2>Vaccin non réalisé</h2>
        </ion-label>
        <ion-badge color="sred">3</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Disparité vaccin</ion-card-title>

      <ion-card-subtitle>Tranche d'âge</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Taux de consultation</ion-card-title>

      <ion-card-subtitle>Tranche d'âge </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Graph </ion-card-title>

      <ion-card-subtitle>Tranche d'âge </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
