<ion-header>
  <ion-toolbar>
    <ion-title>
      <a (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="to-center-vertical p-15">
      <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <img
                      src="../../../../assets/images/logo_matipla1.jpg"
                      srcset=""
                      width="150px"
                      class="mb-2"
                    />
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="container">
                  <div>
                    <div class="ion-padding">
                      <ion-label>Identifiant</ion-label>
                      <ion-input
                        type="text"
                        required
                        formControlName="username"
                        class="border-input"
                      ></ion-input>
                    </div>

                    <div class="ion-padding">
                      <ion-label>Mot de passe</ion-label>
                      <ion-input
                        type="password"
                        required
                        formControlName="password"
                        class="border-input"
                      ></ion-input>
                    </div>

                    <ion-row>
                      <div class="ion-padding">
                        <ion-button
                        color="success"
                        expand="block"
                        type="submit"
                        
                        [disabled]="!credentialsForm.valid"
                      >
                        Login
                      </ion-button>
                      </div>
                    </ion-row>

                    <!-- <a [routerLink]="['#']" class="small-text"
                      >Mot de passe oublié ?</a
                    ><br /> -->
                    <a [routerLink]="['/register']" class="small-text"
                      >inscription </a
                    ><br />
                    <a [routerLink]="['/account-activation']" class="small-text"
                      >activé compte ?</a
                    >
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
