<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!ios" slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title slot="start">Profile</ion-title>
    </ion-buttons>

    <ion-menu-button *ngIf="ios"></ion-menu-button>

    <ion-title slot="end" color="tertiary" class="identifiant" *ngIf="profile"
      >{{profile.username}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="./../../../../assets/images/praticien.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="profile">
    <div class="user-meta ion-text-center">
      <h3 class="playername">
        {{profile.firstName}} {{profile.lastName}} ({{centre_name}})
      </h3>
      <h6 class="ranking">
        Date de création:
        <ion-chip>
          <ion-label>{{profile.createdAt | date:"MMM dd, yyyy"}}</ion-label>
        </ion-chip>
      </h6>
    </div>
    <div>
      <form [formGroup]="praticienFormGroup">
        <!-- Date de naissance -->
        <ion-item lines="full" disabled>
          <ion-label position="stacked">Date de naissance</ion-label>
          <ion-datetime
            display-format="MMM DD, YYYY"
            picker-format="MMM DD, YYYY"
            [ngModel]="profile.dateOnBorn"
            formControlName="birthday"
            required
          ></ion-datetime>
        </ion-item>
        <!-- Pays -->
        <ion-item
          lines="full"
          [disabled]="!this.profile.nameState &&!this.countries"
        >
          <ion-label position="stacked">Pays</ion-label>
          <ion-select
            formControlName="state"
            required
            (ionChange)="getCityByCountry(this.praticienFormGroup.value['state'])"
            [compareWith]="compareFnInv"
            [ngModel]="profile.nameState"
          >
            <ng-container *ngFor="let item of this.countries">
              <ion-select-option value="{{item.id}}"
                >{{item.nameState}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.state">
            <div
              class="error-message"
              *ngIf="praticienFormGroup.get('state').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <!-- Téléphone -->
        <ion-item lines="full">
          <ion-label position="stacked">Phone</ion-label>
          <ion-input
            type="text"
            required
            formControlName="phone"
            [ngModel]="profile.phone"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.phone">
            <div
              class="error-message"
              *ngIf="praticienFormGroup.get('phone').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!-- Ville -->
        <ion-item
          lines="full"
          [disabled]="!this.profile.nameCity"
          *ngIf="this.cities"
        >
          <ion-label position="stacked">Ville</ion-label>
          <ion-select
            formControlName="city"
            required
            [(ngModel)]="profile.nameCity"
            [compareWith]="compareFnInv"
          >
            <ng-container *ngFor="let item of this.cities">
              <ion-select-option value="{{item.id}}"
                >{{item.nameCity}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <!-- Pays de naissance -->
        <ion-item
          lines="full"
          [disabled]="!this.profile.countryBorn &&!this.countries"
        >
          <ion-label position="stacked">Pays de naissance</ion-label>
          <ion-select
            formControlName="countryBorn"
            required
            (ionChange)="getCityByCountryBorn(this.praticienFormGroup.value['countryBorn'])"
            [compareWith]="compareFnInv"
            [ngModel]="profile.countryBorn"
          >
            <ng-container *ngFor="let item of this.countries">
              <ion-select-option value="{{item.id}}"
                >{{item.nameState}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.state">
            <div
              class="error-message"
              *ngIf="praticienFormGroup.get('state').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!-- Ville de naissance -->
        <ion-item
          lines="full"
          [disabled]="!this.profile.cityBorn"
          *ngIf="this.citiesBorn"
        >
          <ion-label position="stacked">Ville de naissance</ion-label>
          <ion-select
            formControlName="cityBorn"
            required
            [(ngModel)]="profile.cityBorn"
            [compareWith]="compareFnInv"
          >
            <ng-container *ngFor="let item of this.citiesBorn">
              <ion-select-option value="{{item.id}}"
                >{{item.nameCity}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <!-- Sexe -->
        <ion-item lines="full" disabled>
          <ion-label position="stacked">Sexe</ion-label>
          <ion-select
            placeholder="Select"
            formControlName="gender"
            required
            [ngModel]="profile.sexe"
          >
            <ion-select-option>Masculin</ion-select-option>
            <ion-select-option>Feminin</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Adresse -->
        <ion-item lines="full">
          <ion-label position="stacked">Adresse</ion-label>
          <ion-textarea
            required
            formControlName="address"
            [ngModel]="profile.address"
          ></ion-textarea>
        </ion-item>
        <!-- Email -->
        <ion-item lines="full">
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            type="text"
            required
            formControlName="email"
            [ngModel]="profile.email"
          ></ion-input>
          <!-- <div
            style="color: red; padding-top: 0.2rem"
            *ngIf="praticienFormGroup.hasError('required', 'email')"
          ></div> -->
          <!-- <div
            *ngIf="!praticienFormGroup.controls.email.valid &&
            praticienFormGroup.controls.email.dirty"
            class="validator-error"
          >
            Please enter a valid email.
          </div> -->
        </ion-item>
        <!-- Nom du père -->
        <ion-item lines="full" *ngIf="profile.fatherName">
          <ion-label position="stacked">Nom du père</ion-label>
          <ion-input
            type="text"
            required
            formControlName="father_name"
            [ngModel]="this.profile.fatherName"
          ></ion-input>
        </ion-item>
        <!-- Nom de la mère -->
        <ion-item lines="full" *ngIf="profile.motherName">
          <ion-label position="stacked">Nom de la mère</ion-label>
          <ion-input
            type="text"
            required
            formControlName="mother_name"
            [ngModel]="this.profile.motherName"
          ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              color="sgreen"
              expand="full"
              (click)="update()"
              >Modifier</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
