ion-content {
    --background: rgba(7, 197, 242, 0.22);
}

ion-item {
    margin-bottom: 3px;
    border-radius: 2px;
}

ion-list {
    background: transparent;
}

.ion-color-gray {
    background: #e0e4e3;
}