<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="chevron-back-outline" slot="start" (click)="dismiss()">
      </ion-icon>
      details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed"></ion-refresher>

  <ion-refresher>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="" />
      </ion-avatar>
      <h2></h2>
      <p></p>
    </ion-item>

    <img />

    <ion-card-content>
      <p></p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button>
          <ion-icon name="open"></ion-icon>
          <div>Open Link</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="" />
      </ion-avatar>
      <h2></h2>
      <p></p>
    </ion-item>

    <img />

    <ion-card-content>
      <p></p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button>
          <ion-icon name="open"></ion-icon>
          <div>Open Link</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
