<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of vaccinations">
    <ion-card-header>
      {{ vaccinations[0].firstName }} {{ vaccinations[0].lastName }}
    </ion-card-header>

    <ion-card-content *ngIf="this.isWithNoteBook == false">
      <ion-item lines="none">
        <ion-text color="primary">
          <h3>Vaccin : {{ item.vaccinName }}</h3>
        </ion-text>

        <ion-text color="sgreen" slot="end">
          <h5 *ngIf="item.identification != null">
            &nbsp;( {{ item.identification }} )
          </h5>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="sred">
          <h5 *ngIf="item.identification != null">
            &nbsp; {{ item.identifiant_vaccin }}
          </h5>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        date de prise : {{ item.date_prise.date | date: 'MMM-dd-yyyy' }}
      </ion-item>
    </ion-card-content>

    <ion-card-content *ngIf="this.isWithNoteBook == true">
      <ion-item lines="none">
        <ion-text color="primary">
          <h3>Vaccin : {{ item.vaccinName }}</h3>
        </ion-text>

        <ion-text color="sgreen" slot="end">
          <h5 *ngIf="item.identification != null">
            &nbsp;( {{ item.identification }} )
          </h5>
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        date de prise : {{ item.datePriseVaccin.date | date: 'MMM-dd-yyyy' }}
      </ion-item>
    </ion-card-content>
    <!-- <ion-row>
      <ion-col>
        <button>
          <ion-icon name="open"></ion-icon>
          <div>Open Link</div>
        </button>
      </ion-col>
    </ion-row> -->
  </ion-card>
</ion-content>
