<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>details : {{ vaccinations[0].patient }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of vaccinations">
    <ion-item>
      <h2>Vaccine</h2>
    </ion-item>

    <img />

    <ion-card-content>
      <p>{{ item.date }}</p>
    </ion-card-content>

    <!-- <ion-row>
      <ion-col>
        <button>
          <ion-icon name="open"></ion-icon>
          <div>Open Link</div>
        </button>
      </ion-col>
    </ion-row> -->
  </ion-card>
</ion-content>
