ul {
    list-style: none;
    line-height: 42px;
    background: white;
    padding: 10px 24px;
    font-family: roboto-medium;
    font-size: 12px;
    color: #74787b;
}

h3 {
    font-size: 15px;
    margin-left: 26px;
    color: #2f3130;
    font-family: roboto-medium;
}