<ion-content padding class="text-center list-item">
    <ion-list lines="none">
        <ion-item no-lines class="ion-item-eq-1" routerLink="/praticien/patient-liste">
            <h2>Liste patient</h2>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-2">
            <h2>Proposition rendez-vous</h2>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-3">
            <h2>Remdez-vous</h2>
        </ion-item>
        <ion-item no-lines class="ion-item-eq-4">
            <h2>Consultation</h2>
        </ion-item>
    </ion-list>
</ion-content>