<ion-header>
    <ion-navbar>
        <ion-title>
            <a href="javascript:void(0)">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="login">
    <div class="content-homepage">
        <div class="to-center-vertical p-15">
            <div class="w-90">
                <img src="../../../assets/images/logo2.png" srcset="" width="75px">
                <h1>Verification email</h1>
                <div class="text-left">
                    <!-- <form #form="ngForm" (ngSubmit)="login(form)" method="post"> -->
                    <div class="mb-14">
                        <label>Email</label>
                        <ion-input ngModel name="email"></ion-input>
                    </div>
                    <ion-button type="submit" expand="full" color="danger" class="btn-register">Envoyer</ion-button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</ion-content>