<ion-header>
  <ion-toolbar>
    <ion-title>Création de rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid fixed>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title> </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form
            [formGroup]="propositionForm"
            (ngSubmit)="createRdv()"
            method="post"
          >
            <div class="mb-14">
              <label>choisi un patient</label>
              <ion-select
                placeholder="Select"
                formControlName="patient"
                required
              >
                <ion-select-option
                  *ngFor="let item of patients"
                  [value]="item.id"
                  >{{
                    item.firstName.toString() + ' ' + item.lastName.toString()
                  }}</ion-select-option
                >
                <!-- <ion-select-option></ion-select-option> -->
              </ion-select>
              <!-- <small
                class="form-text red-color"
                *ngIf="isFieldInvalid(propositionForm, 'patient')"
                >This field is required</small
              > -->
            </div>

            <div class="mb-14">
              <label>Type</label>
              <ion-select
                placeholder="Select"
                formControlName="typeRdv"
                required
              >
                <ion-select-option value="consultation">
                  Consultation
                </ion-select-option>
                <ion-select-option value="intervention"
                  >Intervention
                </ion-select-option>
              </ion-select>
              <!-- <small
                class="form-text red-color"
                *ngIf="isFieldInvalid(propositionForm, 'patient')"
                >This field is required</small
              > -->
            </div>

            <div class="mb-14">
              <label>Propose une date </label>
              <ion-datetime
                display-format="MMM DD, YYYY"
                formControlName="dateRdv"
                required
              ></ion-datetime>
              <!-- <small
                class="form-text red-color"
                *ngIf="isFieldInvalid(propositionForm, 'dateRdv')"
                >This field is required</small
              > -->
            </div>

            <div class="mb-14">
              <label>Propose un horaire</label>
              <ion-datetime
                display-format="h:mm A"
                picker-format="h:mm A"
                formControlName="heureRdv"
                required
              ></ion-datetime>
              <!-- <small
                class="form-text red-color"
                *ngIf="isFieldInvalid(propositionForm, 'heureRdv')"
                >This field is required</small
              > -->
            </div>

            <div class="mb-14">
              <label>Description du rendez-vous</label>
              <ion-input
                type="text"
                required
                formControlName="description"
              ></ion-input
              ><!-- <small
                class="form-text red-color"
                *ngIf="isFieldInvalid(propositionForm, 'description')"
                >This field is required</small
              > -->
            </div>

            <ion-row>
              <ion-col>
                <ion-button color="sred" expand="block" (click)="dismiss()">
                  <ion-icon slot="start" name=""> x </ion-icon
                  >Annuler</ion-button
                >
                <legend class="ion-text-center"></legend>
                <ion-button type="submit" color="sgreen" expand="block"
                  ><ion-icon slot="start" name="save-outline"></ion-icon>
                  Enregistrer
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
