/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.input-login-register {
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9e9e9;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 37px;
  padding-top: 7px !important;
  text-align: left;
  margin-top: 8px;
  box-shadow: 0px 0px 1px 0px rgba(128, 128, 128, 0.24);
  input {
    margin-top: 15px;
  }
}

.content-homepage {
  text-align: center;
  height: 100%;
}

.after-content {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.8;
  height: 100%;
  background: #352038;
}

h1 {
  font-size: 30px;
  padding-top: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.title-connect {
  margin-left: 18px;
  position: relative;
  top: -6px;
  font-size: 14px;
  color: #00000075;
}

.btn-white-border {
  display: block;
  color: #fff;
  border: 0;
  width: 200px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 0.25rem;
  text-transform: capitalize;
  margin-top: 25px;
  width: 200px;
  padding: 0;
  border: 2px solid white;
  border-radius: 0.25rem;
  a {
    color: white;
    text-decoration: none;
  }
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.makeBoldAndLarge {
  font-size: large !important;
  color: #454546;
}

ion-loading.my-loading-class {
  --spinner-color: var(--ion-color-primary);
  --backdrop-opacity: 0.1;
  .loading-wrapper {
    justify-content: center;
    background: transparent;
    box-shadow: none;
  }
}

:root {
  ion-tab-button.tab-selected {
    ion-icon,
    ion-label {
      color: var(--ion-color-sgreen) !important;
      --ion-color-base: var(--ion-color-sgreen) !important;
    }
  }
  ion-tab-button {
    --color-selected: var(--ion-color-sgreen) !important;
  }
}
