<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Praticien</ion-title>
    <ion-title slot="end" color="tertiary" class="identifiant"
      >{{_id}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<div class="topContent">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <img
          src="../../../../assets/images/logo_matipla.png"
          srcset=""
          width="150px"
          class="mb-2"
        />
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="praticienRegisterForm">
        <ion-item lines="full">
          <ion-label position="stacked">Nom</ion-label>
          <ion-input
            type="text"
            required
            formControlName="last_name"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.last_name">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('last_name').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Prénom</ion-label>
          <ion-input
            type="text"
            required
            formControlName="first_name"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.first_name">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('first_name').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item lines="full">
          <ion-label position="stacked">Adult / Enfant</ion-label>
          <ion-select
            placeholder="Type de patient"
            formControlName="type_patient"
            required
          >
            <ion-select-option value="1">Adult</ion-select-option>
            <ion-select-option value="2">Enfant</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Date de naissance</ion-label>
          <ion-datetime
            display-format="MMM DD, YYYY"
            formControlName="date_on_born"
            required
          ></ion-datetime>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.date_on_born">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('date_on_born').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full" [disabled]="!this.country">
          <ion-label position="stacked">Pays</ion-label>
          <ion-select
            placeholder="Select"
            formControlName="state"
            required
            (ionChange)="getCityByCountry(this.praticienRegisterForm.value['state'])"
          >
            <ng-container *ngFor="let item of country">
              <ion-select-option value="{{item.id}}"
                >{{item.nameState}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.state">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('state').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full" [disabled]="!this.city">
          <ion-label position="stacked">Ville</ion-label>
          <ion-select placeholder="Select" formControlName="city" required>
            <ng-container *ngFor="let item of this.city">
              <ion-select-option value="{{item.id}}"
                >{{item.nameCity}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.city">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('city').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full" [disabled]="!this.functions">
          <ion-label position="stacked">Function</ion-label>
          <ion-select placeholder="Select" formControlName="function" required>
            <ng-container *ngFor="let item of this.functions">
              <ion-select-option value="{{item.id}}"
                >{{item.NomFonction}}</ion-select-option
              >
            </ng-container>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.function">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('function').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Télephone</ion-label>
          <ion-input type="text" required formControlName="phone"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.phone">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('phone').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Sexe</ion-label>
          <ion-select placeholder="Select" formControlName="sexe" required>
            <ion-select-option>Masculin</ion-select-option>
            <ion-select-option>Feminin</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.sexe">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('sexe').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Adresse</ion-label>
          <ion-textarea required formControlName="address"></ion-textarea>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.address">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('address').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item
          lines="full"
          *ngIf="this.praticienRegisterForm.value['type_patient'] == 2"
        >
          <ion-label position="stacked">Nom du père</ion-label>
          <ion-input type="text" formControlName="father_name"></ion-input>
        </ion-item>
        <div
          class="validation-errors"
          *ngIf="this.praticienRegisterForm.value['type_patient'] == 2"
        >
          <ng-container *ngFor="let validation of validation_msg.father_name">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('father_name').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item
          lines="full"
          *ngIf="this.praticienRegisterForm.value['type_patient'] == 2"
        >
          <ion-label position="stacked">Nom de la mère</ion-label>
          <ion-input type="text" formControlName="mother_name"></ion-input>
        </ion-item>
        <div
          class="validation-errors"
          *ngIf="this.praticienRegisterForm.value['type_patient'] == 2"
        >
          <ng-container *ngFor="let validation of validation_msg.mother_name">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('mother_name').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" required formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.email">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('email').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            type="password"
            required
            formControlName="password"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_msg.password">
            <div
              class="error-message"
              *ngIf="praticienRegisterForm.get('password').hasError(validation.type)"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              color="sgreen "
              expand="block"
              (click)="register()"
              [disabled]="!praticienRegisterForm.valid"
              >Sign Up</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
