ion-card {
  box-shadow: none !important;
}
.identifiant {
  font-style: italic;
  font-size: medium;
  color: var(--ion-color-sred);
  padding-right: 30px;
  font-size: 18px;
}
.topContent {
  background-color: white;
}
